<li id="project-<%= project.id %>">
  <span class="content"><%= link_to project.name, project %></span></br>
  <span class="content"><%= project.description %></span></br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>
