<h1>ありがとうございます。学生にコンタクトして早速プロジェクトをスタートさせましょう！</h1>
<ul class="next_step">
  <li>まずは学生に連絡し、一度目のミーティングを設定しましょう</li>
  <li>ミーティングで、プロジェクト内容、スコープ、期限、報酬、アウトプットのイメージ、今後のコンタクト方法を議論しましょう</li>
  <li>定期的にコンタクトし、進捗を確認、適宜アドバイス・議論をしてアウトプットの質をたかめましょう</li>
  <li>最終成果物を確認したら報酬を支払いましょう</li>
</ul>
<span class="content"><%= link_to "早速学生に連絡する", message_path(@student, @project.company) %></span></br>